<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h5>Para responder a las siguientes preguntas piense en la cantidad de trabajo que usted tiene a cargo.</h5>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form action="/pag220" method="POST">
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>13</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Por la cantidad de trabajo que tengo debo quedarme tiempo adicional</p>
                                </div>
                                <div class="col-3">
                                    <select name="p13" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>14</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Me alcanza el tiempo de trabajo para tener al día mis deberes</p>
                                </div>
                                <div class="col-3">
                                    <select name="p14" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>15</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Por la cantidad de trabajo que tengo debo trabajar sin parar</p>
                                </div>
                                <div class="col-3">
                                    <select name="p15" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group mt-4 d-flex justify-content-end">
                                <button class="btn btn-success ">Siguiente <i class="fas fa-angle-double-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>