<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h5>Las siguientes preguntas están relacionadas con el esfuerzo mental que le exige su trabajo.</h5>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form action="/pag230" method="POST">
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>16</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Mi trabajo me exige hacer mucho esfuerzo mental</p>
                                </div>
                                <div class="col-3">
                                    <select name="p16" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>17</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Mi trabajo me exige estar muy concentrado</p>
                                </div>
                                <div class="col-3">
                                    <select name="p17" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>18</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Mi trabajo me exige memorizar mucha información</p>
                                </div>
                                <div class="col-3">
                                    <select name="p18" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>19</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>En mi trabajo tengo que hacer cálculos matemáticos</p>
                                </div>
                                <div class="col-3">
                                    <select name="p19" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>20</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Mi trabajo requiere que me fije en pequeños detalles</p>
                                </div>
                                <div class="col-3">
                                    <select name="p20" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            
                            <div class="form-group mt-4 d-flex justify-content-end">
                                <button class="btn btn-success ">Siguiente <i class="fas fa-angle-double-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>