<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h5>Las siguientes preguntas están relacionadas con la jornada de trabajo.</h5>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form action="/pag240" method="POST">
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>21</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Trabajo en horario de noche</p>
                                </div>
                                <div class="col-3">
                                    <select name="p21" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>22</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>En mi trabajo es posible tomar pausas para descansar</p>
                                </div>
                                <div class="col-3">
                                    <select name="p22" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>23</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Mi trabajo me exige laborar en días de descanso, festivos o fines de semana</p>
                                </div>
                                <div class="col-3">
                                    <select name="p23" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>24</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>En mi trabajo puedo tomar fines de semana o días de descanso al mes</p>
                                </div>
                                <div class="col-3">
                                    <select name="p24" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>25</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Cuando estoy en casa sigo pensando en el trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p25" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>26</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Discuto con mi familia o amigos por causa de mi trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p26" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>27</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Debo atender asuntos de trabajo cuando estoy en casa</p>
                                </div>
                                <div class="col-3">
                                    <select name="p27" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>28</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Por mi trabajo el tiempo que paso con mi familia y amigos es muy poco</p>
                                </div>
                                <div class="col-3">
                                    <select name="p28" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            
                            <div class="form-group mt-4 d-flex justify-content-end">
                                <button class="btn btn-success ">Siguiente <i class="fas fa-angle-double-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>