<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h5>Las siguientes preguntas indagan sobre las relaciones con otras personas y el apoyo entre las personas de su trabajo.</h5>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form action="/pag300" method="POST">
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>62</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Me agrada el ambiente de mi grupo de trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p62" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>63</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>En mi grupo de trabajo me tratan de forma respetuosa</p>
                                </div>
                                <div class="col-3">
                                    <select name="p63" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>64</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Siento que puedo confiar en mis compañeros de trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p64" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>65</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Me siento a gusto con mis compañeros de trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p65" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>66</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>En mi grupo de trabajo algunas personas me maltratan</p>
                                </div>
                                <div class="col-3">
                                    <select name="p66" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>67</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Entre compañeros solucionamos los problemas de forma respetuosa</p>
                                </div>
                                <div class="col-3">
                                    <select name="p67" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>68</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Mi grupo de trabajo es muy unido</p>
                                </div>
                                <div class="col-3">
                                    <select name="p68" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>69</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Cuando tenemos que realizar trabajo de grupo los compañeros colaboran</p>
                                </div>
                                <div class="col-3">
                                    <select name="p69" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>70</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Es fácil poner de acuerdo al grupo para hacer el trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p70" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>71</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Mis compañeros de trabajo me ayudan cuando tengo dificultades</p>
                                </div>
                                <div class="col-3">
                                    <select name="p71" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>72</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>En mi trabajo las personas nos apoyamos unos a otros</p>
                                </div>
                                <div class="col-3">
                                    <select name="p72" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>73</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Algunos compañeros de trabajo me escuchan cuando tengo problemas</p>
                                </div>
                                <div class="col-3">
                                    <select name="p73" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                        
                            <div class="form-group mt-4 d-flex justify-content-end">
                                <button class="btn btn-success ">Siguiente <i class="fas fa-angle-double-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>