<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h5>CUESTIONARIO PARA LA EVALUACIÓN DEL ESTRÉS – TERCERA VERSIÓN</h5>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form action="/pag360" method="POST">
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>1</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Dolores en el cuello y espalda o tensión muscular.</p>
                                </div>
                                <div class="col-3">
                                    <select name="p1" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="A veces">Algunas veces</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>2</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Problemas gastrointestinales, úlcera péptica, acidez, problemas digestivos o del colon.</p>
                                </div>
                                <div class="col-3">
                                    <select name="p2" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="A veces">Algunas veces</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>3</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Problemas respiratorios.</p>
                                </div>
                                <div class="col-3">
                                    <select name="p3" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="A veces">Algunas veces</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>4</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Dolor de cabeza.</p>
                                </div>
                                <div class="col-3">
                                    <select name="p4" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="A veces">Algunas veces</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>5</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Trastornos del sueño como somnolencia durante el día o desvelo en la noche.</p>
                                </div>
                                <div class="col-3">
                                    <select name="p5" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="A veces">Algunas veces</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>6</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Palpitaciones en el pecho o problemas cardíacos.</p>
                                </div>
                                <div class="col-3">
                                    <select name="p6" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="A veces">Algunas veces</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>7</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Cambios fuertes del apetito.</p>
                                </div>
                                <div class="col-3">
                                    <select name="p7" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="A veces">Algunas veces</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>8</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Problemas relacionados con la función de los órganos genitales (impotencia, frigidez).</p>
                                </div>
                                <div class="col-3">
                                    <select name="p8" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="A veces">Algunas veces</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>9</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Dificultad en las relaciones familiares.</p>
                                </div>
                                <div class="col-3">
                                    <select name="p9" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="A veces">Algunas veces</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>10</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Dificultad para permanecer quieto o dificultad para iniciar actividades.</p>
                                </div>
                                <div class="col-3">
                                    <select name="p10" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="A veces">Algunas veces</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>11</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Dificultad en las relaciones con otras personas .</p>
                                </div>
                                <div class="col-3">
                                    <select name="p11" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="A veces">Algunas veces</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>12</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Sensación de aislamiento y desinterés.</p>
                                </div>
                                <div class="col-3">
                                    <select name="p12" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="A veces">Algunas veces</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>13</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Sentimiento de sobrecarga de trabajo.</p>
                                </div>
                                <div class="col-3">
                                    <select name="p13" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="A veces">Algunas veces</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>14</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Dificultad para concentrarse, olvidos frecuentes.</p>
                                </div>
                                <div class="col-3">
                                    <select name="p14" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="A veces">Algunas veces</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>15</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Aumento en el número de accidentes de trabajo.</p>
                                </div>
                                <div class="col-3">
                                    <select name="p15" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="A veces">Algunas veces</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>16</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Sentimiento de frustración, de no haber hecho lo que se quería en la vida.</p>
                                </div>
                                <div class="col-3">
                                    <select name="p16" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="A veces">Algunas veces</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>17</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Cansancio, tedio o desgano.</p>
                                </div>
                                <div class="col-3">
                                    <select name="p17" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="A veces">Algunas veces</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>18</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Disminución del rendimiento en el trabajo o poca creatividad.</p>
                                </div>
                                <div class="col-3">
                                    <select name="p18" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="A veces">Algunas veces</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>19</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Deseo de no asistir al trabajo.</p>
                                </div>
                                <div class="col-3">
                                    <select name="p19" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="A veces">Algunas veces</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>20</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Bajo compromiso o poco interés con lo que se hace.</p>
                                </div>
                                <div class="col-3">
                                    <select name="p20" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="A veces">Algunas veces</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>21</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Dificultad para tomar decisiones.</p>
                                </div>
                                <div class="col-3">
                                    <select name="p21" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="A veces">Algunas veces</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>22</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Deseo de cambiar de empleo.</p>
                                </div>
                                <div class="col-3">
                                    <select name="p22" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="A veces">Algunas veces</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>23</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Sentimiento de soledad y miedo.</p>
                                </div>
                                <div class="col-3">
                                    <select name="p23" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="A veces">Algunas veces</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>24</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Sentimiento de irritabilidad, actitudes y pensamientos negativos.</p>
                                </div>
                                <div class="col-3">
                                    <select name="p24" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="A veces">Algunas veces</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>25</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Sentimiento de angustia, preocupación o tristeza.</p>
                                </div>
                                <div class="col-3">
                                    <select name="p25" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="A veces">Algunas veces</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>26</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Consumo de drogas para aliviar la tensión o los nervios.</p>
                                </div>
                                <div class="col-3">
                                    <select name="p26" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="A veces">Algunas veces</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>27</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Sentimientos de que "no vale nada", o " no sirve para nada".</p>
                                </div>
                                <div class="col-3">
                                    <select name="p27" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="A veces">Algunas veces</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>28</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Consumo de bebidas alcohólicas o café o cigarrillo.</p>
                                </div>
                                <div class="col-3">
                                    <select name="p28" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="A veces">Algunas veces</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>29</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Sentimiento de que está perdiendo la razón.</p>
                                </div>
                                <div class="col-3">
                                    <select name="p29" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="A veces">Algunas veces</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>30</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Comportamientos rígidos, obstinación o terquedad.</p>
                                </div>
                                <div class="col-3">
                                    <select name="p30" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="A veces">Algunas veces</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>31</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Sensación de no poder manejar los problemas de la vida.</p>
                                </div>
                                <div class="col-3">
                                    <select name="p31" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="A veces">Algunas veces</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                        
                            <div class="form-group mt-4 d-flex justify-content-end">
                                <button class="btn btn-success ">Finalizar <i class="fas fa-angle-double-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>