<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h5>Las siguientes preguntas están relacionadas con su vida fuera del trabajo:</h5>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form action="/pag350" method="POST">
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>14</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Me queda tiempo para actividades de recreación</p>
                                </div>
                                <div class="col-3">
                                    <select name="p14" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>15</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Fuera del trabajo tengo tiempo suficiente para descansar</p>
                                </div>
                                <div class="col-3">
                                    <select name="p15" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>16</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Tengo tiempo para atender mis asuntos personales y del hogar</p>
                                </div>
                                <div class="col-3">
                                    <select name="p16" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>17</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Tengo tiempo para compartir con mi familia o amigos</p>
                                </div>
                                <div class="col-3">
                                    <select name="p17" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>18</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Tengo buena comunicación con las personas cercanas</p>
                                </div>
                                <div class="col-3">
                                    <select name="p18" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>19</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Las relaciones con mis amigos son buenas</p>
                                </div>
                                <div class="col-3">
                                    <select name="p19" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>20</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Converso con personas cercanas sobre diferentes temas</p>
                                </div>
                                <div class="col-3">
                                    <select name="p20" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>21</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Mis amigos están dispuestos a escucharme cuando tengo problemas</p>
                                </div>
                                <div class="col-3">
                                    <select name="p21" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>22</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Cuento con el apoyo de mi familia cuando tengo problemas</p>
                                </div>
                                <div class="col-3">
                                    <select name="p22" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>23</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Puedo hablar con personas cercanas sobre las cosas que me pasan</p>
                                </div>
                                <div class="col-3">
                                    <select name="p23" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>24</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Mis problemas personales o familiares afectan mi trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p24" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>25</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>La relación con mi familia cercana es cordial</p>
                                </div>
                                <div class="col-3">
                                    <select name="p25" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>26</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Mis problemas personales o familiares me quitan la energía que necesito para trabajar</p>
                                </div>
                                <div class="col-3">
                                    <select name="p26" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>27</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Los problemas con mis familiares los resolvemos de manera amistosa</p>
                                </div>
                                <div class="col-3">
                                    <select name="p27" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>28</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Mis problemas personales o familiares afectan mis relaciones en el trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p28" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>29</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>El dinero que ganamos en el hogar alcanza para cubrir los gastos básicos</p>
                                </div>
                                <div class="col-3">
                                    <select name="p29" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>30</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Tengo otros compromisos económicos que afectan mucho el presupuesto familiar</p>
                                </div>
                                <div class="col-3">
                                    <select name="p30" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>31</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>En mi hogar tenemos deudas difíciles de pagar</p>
                                </div>
                                <div class="col-3">
                                    <select name="p31" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                        
                            <div class="form-group mt-4 d-flex justify-content-end">
                                <button class="btn btn-success ">Siguiente <i class="fas fa-angle-double-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>