<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h5>Las siguientes preguntas están relacionadas con varias condiciones de la zona donde usted vive:</h5>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form action="/pag340" method="POST">
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>1</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Es fácil trasportarme entre mi casa y el trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p1" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>2</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Tengo que tomar varios medios de transporte para llegar a mi lugar de trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p2" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>3</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Paso mucho tiempo viajando de ida y regreso al trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p3" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>4</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Me trasporto cómodamente entre mi casa y el trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p4" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>5</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>La zona donde vivo es segura</p>
                                </div>
                                <div class="col-3">
                                    <select name="p5" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>6</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>En la zona donde vivo se presentan hurtos y mucha delincuencia</p>
                                </div>
                                <div class="col-3">
                                    <select name="p6" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>7</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Desde donde vivo me es fácil llegar al centro médico donde me atienden</p>
                                </div>
                                <div class="col-3">
                                    <select name="p7" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>8</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Cerca a mi vivienda las vías están en buenas condiciones</p>
                                </div>
                                <div class="col-3">
                                    <select name="p8" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>9</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Cerca a mi vivienda encuentro fácilmente transporte</p>
                                </div>
                                <div class="col-3">
                                    <select name="p9" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>10</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Las condiciones de mi vivienda son buenas</p>
                                </div>
                                <div class="col-3">
                                    <select name="p10" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>11</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>En mi vivienda hay servicios de agua y luz</p>
                                </div>
                                <div class="col-3">
                                    <select name="p11" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>12</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Las condiciones de mi vivienda me permiten descansar cuando lo requiero</p>
                                </div>
                                <div class="col-3">
                                    <select name="p12" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>13</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Las condiciones de mi vivienda me permiten sentirme cómodo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p13" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                        
                            <div class="form-group mt-4 d-flex justify-content-end">
                                <button class="btn btn-success ">Siguiente <i class="fas fa-angle-double-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>