<div class="container p-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>CUESTIONARIO PARA LA EVALUACIÓN DEL ESTRÉS TERCERA VERSIÓN</h3>
                </div>
                <div class="card-body">
                <div class="col-md-12 text-center"><h4 >Gracias por su colaboración.</h4></div>
                    <div class="col-md-12 mx-auto mt-3">
                        <div class="card text-center">
                            <div class="card-body">
                                <h3>Vamos a Iniciar {{user.usuario}} </h3>                               
                                <a href="/pag360" class="btn btn-primary m-4">Vamos a llanar la encuesta</a>                                                                              
                            </div>
                        </div>
                    </div>                                    
                </div>
            </div>
        </div>
    </div>
</div>