<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>CUESTIONARIO DE FACTORES DE RIESGO PSICOSOCIAL INTRALABORAL</h3>
                </div>
                <div class="card-body">
                    <div class="col-md-12 text-center"><h4 >INSTRUCCIONES</h4></div>
                    <div class="col-md-10 ml-5">
                         <p align="justify">Este cuestionario de factores psicosociales busca conocer su opinión sobre algunos
                        aspectos de su trabajo.</p><br>
                        <p align="justify">Le agradecemos que usted se sirva contestar a las siguientes preguntas de forma
                        absolutamente sincera. Las respuestas que usted de al cuestionario, no son ni buenas, ni
                        malas, lo importante es que reflejen su manera de pensar sobre su trabajo.</p><br>
                        <p align="justify">Tenga presente que el cuestionario NO lo evalúa a usted como trabajador, sino busca
                        conocer cómo es el trabajo que le han asignado.</p><br>
                        <p align="justify">Sus respuestas serán manejadas de forma absolutamente confidencial.</p><br>
                        <p align="justify">Si tiene dudas respecto a una pregunta, solicite mayor explicación a la persona que le
                        entregó el cuestionario.</p><br>
                        <p align="justify">El cuestionario no tiene límite de tiempo; sin embargo, aproximadamente usted requerirá 1
                        hora para contestar todas las preguntas.
                        </p>
                    </div>
                    <div class="col-md-12 mx-auto mt-3">
                        <div class="card text-center">
                            <div class="card-body">
                                <h3>Vamos a Iniciar {{user.usuario}} </h3>                               
                                <a href="/pag210" class="btn btn-primary m-4">Vamos a llanar la encuesta</a>                                                                              
                            </div>
                        </div>
                    </div>                                    
                </div>
            </div>
        </div>
    </div>
</div>