<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">KAYSSEN</h1>
            <h3 class="mb-5">
                <em>Nunca creí que pudiéramos transformar el mundo, pero creo que todos los días se pueden transformar las cosas. (Françoise Giroud)</em><br>
                {{!-- <em>Deja que tus sueños sean mas grandes que tus miedos y tus acciones seran mas fuertes que tus palabras.  </em> --}}
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Ingresar
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>