<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h5>Las siguientes preguntas están relacionadas con cualquier tipo de cambio que ocurra en su trabajo.</h5>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form action="/pag460" method="POST">
                        <div class="row">
                                <div class="col-1 text-center">
                                    <span>48</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Los cambios en mi trabajo han sido beneficiosos</p>
                                </div>
                                <div class="col-3">
                                    <select name="p48" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>49</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Me explican claramente los cambios que ocurren en mi trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p49" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>50</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Puedo dar sugerencias sobre los cambios que ocurren en mi trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p50" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>51</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Cuando se presentan cambios en mi trabajo se tienen en cuenta mis ideas y sugerencias</p>
                                </div>
                                <div class="col-3">
                                    <select name="p51" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>52</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Los cambios que se presentan en mi trabajo dificultan mi labor</p>
                                </div>
                                <div class="col-3">
                                    <select name="p52" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            
                            <div class="form-group mt-4 d-flex justify-content-end">
                                <button class="btn btn-success ">Siguiente <i class="fas fa-angle-double-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>