<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3>Condiciones Ambientales</h3>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form action="/pag400" method="POST">
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>1</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>El ruido en el lugar donde trabajo es molesto</p>
                                </div>
                                <div class="col-3">
                                    <select name="p1" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>2</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>En el lugar donde trabajo hace mucho frío</p>
                                </div>
                                <div class="col-3">
                                    <select name="p2" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>3</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>En el lugar donde trabajo hace mucho calor</p>
                                </div>
                                <div class="col-3">
                                    <select name="p3" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>4</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>El aire en el lugar donde trabajo es fresco y agradable</p>
                                </div>
                                <div class="col-3">
                                    <select name="p4" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>5</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>La luz del sitio donde trabajo es agradable</p>
                                </div>
                                <div class="col-3">
                                    <select name="p5" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>6</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>El espacio donde trabajo es cómodo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p6" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>7</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>En mi trabajo me preocupa estar expuesto a sustancias químicas que afecten mi salud</p>
                                </div>
                                <div class="col-3">
                                    <select name="p7" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>8</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Mi trabajo me exige hacer mucho esfuerzo físico</p>
                                </div>
                                <div class="col-3">
                                    <select name="p8" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>9</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Los equipos o herramientas con los que trabajo son cómodos</p>
                                </div>
                                <div class="col-3">
                                    <select name="p9" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>10</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>En mi trabajo me preocupa estar expuesto a microbios, animales o plantas que afecten mi salud</p>
                                </div>
                                <div class="col-3">
                                    <select name="p10" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>11</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Me preocupa accidentarme en mi trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p11" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span><b>12</b></span>
                                </div>
                                <div class="col-8">                                    
                                    <p>El lugar donde trabajo es limpio y ordenado</p>
                                </div>
                                <div class="col-3">
                                    <select name="p12" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group mt-4 d-flex justify-content-end">
                                <button class="btn btn-success ">Siguiente <i class="fas fa-angle-double-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>