<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h5>Las siguientes preguntas están relacionadas con la formación y capacitación que la empresa le facilita para hacer su trabajo.</h5>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form action="/pag480" method="POST">
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>60</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>La empresa me permite asistir a capacitaciones relacionadas con mi trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p60" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>61</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Recibo capacitación útil para hacer mi trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="61" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>62</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Recibo capacitación que me ayuda a hacer mejor mi trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p62" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            
                            <div class="form-group mt-4 d-flex justify-content-end">
                                <button class="btn btn-success ">Siguiente <i class="fas fa-angle-double-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>