<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h5>Las siguientes preguntas est치n relacionadas con la informaci칩n que la empresa le ha dado sobre su trabajo</h5>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form action="/pag470" method="POST">
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>53</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Me informan con claridad cu치les son mis funciones</p>
                                </div>
                                <div class="col-3">
                                    <select name="p53" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>54</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Me informan cu치les son las decisiones que puedo tomar en mi trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p54" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>55</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Me explican claramente los resultados que debo lograr en mi trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p55" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>56</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Me explican claramente el efecto de mi trabajo en la empresa</p>
                                </div>
                                <div class="col-3">
                                    <select name="p56" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>57</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Me explican claramente los objetivos de mi trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p57" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>58</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Me informan claramente quien me puede orientar para hacer mi trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p58" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>59</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Me informan claramente con quien puedo resolver los asuntos de trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p59" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            
                            <div class="form-group mt-4 d-flex justify-content-end">
                                <button class="btn btn-success ">Siguiente <i class="fas fa-angle-double-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>