<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h5>Las siguientes preguntas est치n relacionadas con el o los jefes con quien tenga m치s contacto.</h5>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form action="/pag490" method="POST">
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>63</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Mi jefe me da instrucciones claras</p>
                                </div>
                                <div class="col-3">
                                    <select name="p63" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>64</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Mi jefe ayuda a organizar mejor el trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p64" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>65</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Mi jefe tiene en cuenta mis puntos de vista y opiniones</p>
                                </div>
                                <div class="col-3">
                                    <select name="p65" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>66</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Mi jefe me anima para hacer mejor mi trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p66" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>67</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Mi jefe distribuye las tareas de forma que me facilita el trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p67" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>68</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Mi jefe me comunica a tiempo la informaci칩n relacionada con el trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p68" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>69</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>La orientaci칩n que me da mi jefe me ayuda a hacer mejor el trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p69" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>70</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Mi jefe me ayuda a progresar en el trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p70" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>71</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Mi jefe me ayuda a sentirme bien en el trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p71" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>72</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Mi jefe ayuda a solucionar los problemas que se presentan en el trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p72" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>                            
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>73</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Siento que puedo confiar en mi jefe</p>
                                </div>
                                <div class="col-3">
                                    <select name="p73" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>74</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Mi jefe me escucha cuando tengo problemas de trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p74" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>75</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Mi jefe me brinda su apoyo cuando lo necesito</p>
                                </div>
                                <div class="col-3">
                                    <select name="p75" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group mt-4 d-flex justify-content-end">
                                <button class="btn btn-success ">Siguiente <i class="fas fa-angle-double-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>