<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h5>Las siguientes preguntas indagan sobre las relaciones con otras personas y el apoyo entre las personas de su trabajo.</h5>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form action="/pag500" method="POST">
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>76</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Me agrada el ambiente de mi grupo de trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p76" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>77</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>En mi grupo de trabajo me tratan de forma respetuosa</p>
                                </div>
                                <div class="col-3">
                                    <select name="p77" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>78</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Siento que puedo confiar en mis compañeros de trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p78" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>79</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Me siento a gusto con mis compañeros de trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p79" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>80</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>En mi grupo de trabajo algunas personas me maltratan</p>
                                </div>
                                <div class="col-3">
                                    <select name="p80" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>81</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Entre compañeros solucionamos los problemas de forma respetuosa</p>
                                </div>
                                <div class="col-3">
                                    <select name="p81" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>82</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Hay integración en mi grupo de trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p82" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>83</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Mi grupo de trabajo es muy unido</p>
                                </div>
                                <div class="col-3">
                                    <select name="p83" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>84</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Las personas en mi trabajo me hacen sentir parte del grupo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p84" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>85</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Cuando tenemos que realizar trabajo de grupo los compañeros colaboran</p>
                                </div>
                                <div class="col-3">
                                    <select name="p85" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>86</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Es fácil poner de acuerdo al grupo para hacer el trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p86" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>87</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Mis compañeros de trabajo me ayudan cuando tengo dificultades</p>
                                </div>
                                <div class="col-3">
                                    <select name="p87" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>88</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>En mi trabajo las personas nos apoyamos unos a otros</p>
                                </div>
                                <div class="col-3">
                                    <select name="p88" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>89</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Algunos compañeros de trabajo me escuchan cuando tengo problemas</p>
                                </div>
                                <div class="col-3">
                                    <select name="p89" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                        
                            <div class="form-group mt-4 d-flex justify-content-end">
                                <button class="btn btn-success ">Siguiente <i class="fas fa-angle-double-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>