<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h5>Las siguientes preguntas están relacionadas con las responsabilidades y actividades que usted debe hacer en su trabajo</h5>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form action="/pag430" method="POST">
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>22</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>En mi trabajo respondo por cosas de mucho valor</p>
                                </div>
                                <div class="col-3">
                                    <select name="p22" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>23</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>En mi trabajo respondo por dinero de la empresa</p>
                                </div>
                                <div class="col-3">
                                    <select name="p23" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>24</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Como parte de mis funciones debo responder por la seguridad de otros</p>
                                </div>
                                <div class="col-3">
                                    <select name="p24" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>25</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Respondo ante mi jefe por los resultados de toda mi área de trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p25" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>26</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Mi trabajo me exige cuidar la salud de otras personas</p>
                                </div>
                                <div class="col-3">
                                    <select name="p26" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>27</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>En el trabajo me dan órdenes contradictorias</p>
                                </div>
                                <div class="col-3">
                                    <select name="p27" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>28</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>En mi trabajo me piden hacer cosas innecesarias</p>
                                </div>
                                <div class="col-3">
                                    <select name="p28" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>29</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>En mi trabajo se presentan situaciones en las que debo pasar por alto normas o procedimientos</p>
                                </div>
                                <div class="col-3">
                                    <select name="p29" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>30</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>En mi trabajo tengo que hacer cosas que se podrían hacer de una forma más práctica</p>
                                </div>
                                <div class="col-3">
                                    <select name="p30" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            
                            <div class="form-group mt-4 d-flex justify-content-end">
                                <button class="btn btn-success ">Siguiente <i class="fas fa-angle-double-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>