<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h5>Las siguientes preguntas están relacionadas con la información que usted recibe sobre su rendimiento en el trabajo.</h5>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form action="/pag610" method="POST">
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>90</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Me informan sobre lo que hago bien en mi trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p90" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>91</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Me informan sobre lo que debo mejorar en mi trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p91" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>92</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>La información que recibo sobre mi rendimiento en el trabajo es clara</p>
                                </div>
                                <div class="col-3">
                                    <select name="p92" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>93</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>La forma como evalúan mi trabajo en la empresa me ayuda a mejorar</p>
                                </div>
                                <div class="col-3">
                                    <select name="p93" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>94</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Me informan a tiempo sobre lo que debo mejorar en el trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p94" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                                                    
                            <div class="form-group mt-4 d-flex justify-content-end">
                                <button class="btn btn-success ">Siguiente <i class="fas fa-angle-double-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>