<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h5>Las siguientes preguntas están relacionadas con la satisfacción, reconocimiento y la seguridad que le ofrece su trabajo.</h5>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form action="/pag620" method="POST">
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>95</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>En la empresa confían en mi trabajo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p95" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>96</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>En la empresa me pagan a tiempo mi salario</p>
                                </div>
                                <div class="col-3">
                                    <select name="p96" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>97</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>El pago que recibo es el que me ofreció la empresa</p>
                                </div>
                                <div class="col-3">
                                    <select name="p97" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>98</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>El pago que recibo es el que merezco por el trabajo que realizo</p>
                                </div>
                                <div class="col-3">
                                    <select name="p98" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>99</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>En mi trabajo tengo posibilidades de progresar</p>
                                </div>
                                <div class="col-3">
                                    <select name="p99" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>100</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Las personas que hacen bien el trabajo pueden progresar en la empresa</p>
                                </div>
                                <div class="col-3">
                                    <select name="p100" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>101</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>La empresa se preocupa por el bienestar de los trabajadores</p>
                                </div>
                                <div class="col-3">
                                    <select name="p101" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>102</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Mi trabajo en la empresa es estable</p>
                                </div>
                                <div class="col-3">
                                    <select name="p102" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>103</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>El trabajo que hago me hace sentir bien</p>
                                </div>
                                <div class="col-3">
                                    <select name="p103" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>104</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Siento orgullo de trabajar en esta empresa</p>
                                </div>
                                <div class="col-3">
                                    <select name="p104" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-1 text-center">
                                    <span>105</span>
                                </div>
                                <div class="col-8">                                    
                                    <p>Hablo bien de la empresa con otras personas</p>
                                </div>
                                <div class="col-3">
                                    <select name="p105" id="" class="form-control">
                                        <option disabled selected>...</option>
                                        <option value="Siempre">Siempre</option>
                                        <option value="Casi siempre">Casi siempre</option>
                                        <option value="Algunas veces">Algunas veces</option>
                                        <option value="Casi nunca">Casi nunca</option>
                                        <option value="Nunca">Nunca</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                                                    
                            <div class="form-group mt-4 d-flex justify-content-end">
                                <button class="btn btn-success ">Siguiente <i class="fas fa-angle-double-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>